<% include headerBackstage %>



<fieldset class="layui-elem-field layui-field-title">
  <legend>评论管理</legend>
</fieldset>
<div class="layui-tab-item layui-show">
  <div class="layui-main">
    <div id="LAY_preview">

      <table class="layui-hide" id="test" lay-filter="test"></table>

      <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
  </div>
</script>

      <script type="text/html" id="barDemo">
        
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

    </div>

  </div>
</div>


<div id="LAY_democodejs">
  <script>
    $.ajax({
      url: '/admin/comment/list',
      type: 'get',
      success: function (res) {
        layui.use('table', function () {
          var table = layui.table;

          table.render({
            elem: '#test',
            // url: "/admin/comment/list",
            data: res.data,
            toolbar: '#toolbarDemo',
            title: '用户评论',
            cols: [
              [{
                  type: 'checkbox',
                  fixed: 'left'
                }, {
                  field: '_id',
                  title: 'ID',
                  sort: false
                }, {
                  field: 'userid',
                  title: '评论人'
                }, {
                  field: 'content',
                  title: '评论内容'
                },{
                  field: 'aid',
                  title: '评论文章'
                },
                {
                  field: 'time',
                  title: '评论时间'
                }, {
                  fixed: 'right',
                  title: '操作',
                  toolbar: '#barDemo',
                  width: 150
                }
              ]
            ],
            page: true
          });


          //头工具栏事件
          table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
              case 'getCheckData':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
              case 'getCheckLength':
                var data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
                break;
              case 'isAll':
                layer.msg(checkStatus.isAll ? '全选' : '未全选');
                break;
            };
          });

          //监听行工具事件
          table.on('tool(test)', function (obj) {
            var data = obj.data;

            console.log(obj)
            if (obj.event === 'del') {
              layer.confirm('真的删除行么', function (index) {
                console.log(data._id);
                location.href = '/admin/commentBackstage/del/' + data._id
                obj.del();
                layer.close(index);
              });
            } else if (obj.event === 'edit') {
              layer.prompt({
                formType: 2,
                value: data.email
              }, function (value, index) {
                obj.update({
                  email: value
                });
                layer.close(index);
              });
            }
          });


        });

      },
      error: function (error) {
        console.log(error);
      }
    })
  </script>
</div>